# Environnement virtuel
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Tests / outils
.pytest_cache/
.coverage

# VS Code
.vscode/

# Système
.DS_Store
Thumbs.db

# Fichiers générés
outputs/*
!outputs/.gitkeep
